{% extends "//layout.html.twig" %}
{% block title %} Acceuil {% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block body %}
    {% block contents %}

        <!-- DEFAULT HEADER STYLE -->
        <div class="ph-content-wrap">
            <div class="ph-content-v-center">
                <div>
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-6">
                                <ul vocab="http://schema.org/" typeof="BreadcrumbList" class="breadcrumbs fixclear bread-style--black"><li property="itemListElement" typeof="ListItem"><a property="item" typeof="WebPage" href="http://esprit.tn">Accueil</a></li><li>Espace Intranet</li></ul><span id="current-date" class="subheader-currentdate hidden-xs">12 avril 2020</span>                            <div class="clearfix"></div>
                            </div>

                            <div class="col-sm-6">
                                <div class="subheader-titles">
                                    <h2 class="subheader-maintitle">Espace Intranet</h2>                            </div>
                            </div>
                        </div>
                        <!-- end row -->
                    </div>
                </div>
            </div>
        </div>

        <div class="kl-bottommask kl-bottommask--mask5 kl-mask--light">

            <svg width="2700px" height="64px" class="svgmask" viewBox="0 0 2700 64" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <defs>
                    <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-mask5">
                        <feOffset dx="0" dy="2" in="SourceAlpha" result="shadowOffsetInner1"></feOffset>
                        <feGaussianBlur stdDeviation="1.5" in="shadowOffsetInner1" result="shadowBlurInner1"></feGaussianBlur>
                        <feComposite in="shadowBlurInner1" in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowInnerInner1"></feComposite>
                        <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.45 0" in="shadowInnerInner1" type="matrix" result="shadowMatrixInner1"></feColorMatrix>
                        <feMerge>
                            <feMergeNode in="SourceGraphic"></feMergeNode>
                            <feMergeNode in="shadowMatrixInner1"></feMergeNode>
                        </feMerge>
                    </filter>
                </defs>
                <path d="M1892,0 L2119,44.993 L2701,45 L2701.133,63.993 L-0.16,63.993 L1.73847048e-12,45 L909,44.993 L1892,0 Z" class="bmask-bgfill" fill="#f5f5f5" filter="url(#filter-mask5)" ></path>
                <path d="M2216,44.993 L2093,55 L1882,6 L995,62 L966,42 L1892,0 L2118,44.993 L2216,44.993 L2216,44.993 Z" fill="#cd2122" class="bmask-customfill" filter="url(#filter-mask5)"></path>
            </svg>

        </div>

        </div>
        <section class="zn_section eluid313325de     section--no " id="eluid313325de"  >


            <div class="zn_section_size container">
                <div class="row zn_columns_container zn_content " data-droplevel="1">


                    <div class="eluid0a738a55   col-md-9 col-sm-9   zn_sortable_content zn_content " data-droplevel="2" >
                        <div class="kl-title-block clearfix tbk--text- tbk--left text-left tbk-symbol--line  tbk-icon-pos--after-title eluid253abbaf " ><h3 class="tbk__title ">Espace Intranet</h3><span class="tbk__symbol "><span></span></span></div><div class="kl-title-block clearfix tbk--text- tbk--center text-center tbk-symbol--border2  tbk-icon-pos--after-title eluidefc81e52 " ><h3 class="tbk__title "><span class="tbk__border-helper">Cours du jour</span></h3><span class="tbk__symbol "><span></span></span></div><div class="tabbable eluidc1f5175e  tabs--light element-scheme--light tabs_style1" ><ul class="nav nav-alignment--left clearfix" role="tablist"><li class="active in"><a href="#eluidc1f5175e_0" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Etudiant</span></a></li><li class=""><a href="#eluidc1f5175e_1" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Parent</span></a></li><li class=""><a href="#eluidc1f5175e_2" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Enseignant</span></a></li><li class=""><a href="#eluidc1f5175e_3" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Administration</span></a></li></ul><div class="tab-content"><div class="tab-pane active in" id="eluidc1f5175e_0"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluidff50322c   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluid90bdd915  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace étudiant</p></blockquote>
                                                <p>renferme les informations qui vous permettront de bien organiser votre vie étudiante : horaires, documents de référence, plusieurs liens utiles, etc. Bonne navigation!</p>
                                            </div><div class="zn_buttons_element eluid93b8adbd text-center " ><a href="https://esprit-tn.com/esponline/online/default.aspx#tabs-2"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div><div class="tab-pane " id="eluidc1f5175e_1"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluidbe7bf17f   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluid39803c7f  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace parents</p></blockquote>
                                                <p>est un endroit privilégié pour effectuer un suivi personnalisé du cheminement scolaire de votre enfant (résultats scolaires et absences).</p>
                                            </div><div class="zn_buttons_element eluid29393444 text-center " ><a href="https://esprit-tn.com/esponline/online/default.aspx#tabs-3"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div><div class="tab-pane " id="eluidc1f5175e_2"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluid4d3aba0c   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluid670f0031  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace enseignant</p></blockquote>
                                                <p>est un endroit réservé aux enseignants.</p>
                                            </div><div class="zn_buttons_element eluid103dd750 text-center " ><a href="https://esprit-tn.com/esponline/online/default.aspx#tabs-1"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div><div class="tab-pane " id="eluidc1f5175e_3"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluid239d24c9   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluid69f20ada  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace Administration &amp; Gouvernance</p></blockquote>
                                                <p>est un endroit réservé aux directeurs.</p>
                                            </div><div class="zn_buttons_element eluideb5f5f26 text-center " ><a href="https://esprit-tn.com/esponline/online/default.aspx#tabs-6"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div></div></div><div class="kl-title-block clearfix tbk--text- tbk--center text-center tbk-symbol--border2  tbk-icon-pos--after-title eluid7c9601fa " ><h3 class="tbk__title "><span class="tbk__border-helper">Cours du soir</span></h3><span class="tbk__symbol "><span></span></span></div><div class="tabbable eluid98531dc1  tabs--light element-scheme--light tabs_style1" ><ul class="nav nav-alignment--left clearfix" role="tablist"><li class="active in"><a href="#eluid98531dc1_0" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Etudiant</span></a></li><li class=""><a href="#eluid98531dc1_1" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Enseignant</span></a></li><li class=""><a href="#eluid98531dc1_2" role="tab" data-toggle="tab"><span class="hr-tabs-nav-icon " data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Administration</span></a></li></ul><div class="tab-content"><div class="tab-pane active in" id="eluid98531dc1_0"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluid647c3890   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluid9ef0a41f  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace étudiant</p></blockquote>
                                                <p>renferme les informations qui vous permettront de bien organiser votre vie étudiante : horaires, documents de référence, plusieurs liens utiles, etc. Bonne navigation!</p>
                                            </div><div class="zn_buttons_element eluid179e71fe text-center " ><a href="https://41.226.11.244/ESPCSONLINE/Online/default.aspx#tabs-2"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div><div class="tab-pane " id="eluid98531dc1_1"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluidb2b4a1f1   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluidaf12623b  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace enseignant</p></blockquote>
                                                <p>est un endroit réservé aux enseignants.</p>
                                            </div><div class="zn_buttons_element eluid3b32cefb text-center " ><a href="https://41.226.11.244/ESPCSONLINE/Online/default.aspx#tabs-1"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div><div class="tab-pane " id="eluid98531dc1_2"><div class="row tabPaneContainer zn_columns_container zn_content" data-droplevel="1">
                                        <div class="eluid09aa88dd   col-md-12 col-sm-12   zn_sortable_content zn_content " data-droplevel="2" >
                                            <div class="zn_text_box eluid7e34cf31  zn_text_box-light element-scheme--light" ><blockquote><p>L'espace Administration &amp; Gouvernance</p></blockquote>

                                            </div><div class="zn_buttons_element eluid496a22a7 text-center " ><a href="https://41.226.11.244/ESPCSONLINE/Online/default.aspx#tabs-6"  class="btn-element btn-element-0 btn btn-fullcolor   zn_dummy_value btn-icon--before btn--rounded"  target="_blank"><span data-zniconfam="glyphicons_halflingsregular" data-zn_icon=""></span><span>Se connecter</span></a></div>		</div>
                                    </div></div></div></div>		</div>

                    <div class="eluidd3c56e77   col-md-3 col-sm-3   zn_sortable_content zn_content " data-droplevel="2" >

                        <div id="sidebar-widget-eluid67fca6f0" class="sidebar zn_sidebar eluid67fca6f0  kl-sidebar--light element-scheme--light " ><div id="search-2" class="widget zn-sidebar-widget widget_search">
                                <form id="searchform" class="gensearch__form" action="http://esprit.tn/" method="get">
                                    <input id="s" name="s" value="" class="inputbox gensearch__input" type="text" placeholder="Rechercher ..." />
                                    <button type="submit" id="searchsubmit" value="go" class="gensearch__submit glyphicon glyphicon-search"></button>
                                </form></div>			<div id="recent-posts-2" class="widget zn-sidebar-widget widget_recent_entries">			<div class="latest_posts-wgt">				<ul class="posts latest_posts-wgt-posts">


                                    </ul>
                                </div>			</div>			</div>			</div>

                </div>
            </div>

        </section>


        </body>
        </html>



    {% endblock %}
{% endblock %}